<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="homePage/css/homepage.css">
  <style>
    a{
      color:white;
    }
    </style>
</head>
<body>
  <header id="main-header">
    <div class="container">
      <h1>IIIT Allahabad</h1>
    </div>
  </header>

  <nav id="navbar">
    <div class="container">
      <ul>
        <!--li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li-->
      </ul>
    </div>
  </nav>

  <section id="showcase">
    <div class="container">
      <h1>Campus Course Registration and Learning Portal
      </h1>
    </div>
  </section>

  <div class="container">
    <section id="main">
      <h1>Welcome</h1>
      <h3> Students </h3>
      <p>
        This portal lets student enroll in different courses offered by different faculties of the institute and also lets him take quiz and join discussion forum to connect with peers and ask questions to concerned with faculties . 
      </p>
      <nav>
        <ul><li><button type="submit" class="button_1"><a href="/registerStudent">Register as Student</a></button></li>
      <li><button type="submit" class="button_1"><a href="/loginStudent">Log In As Student</a></button></li></ul></nav><br><br>
      <h3> Teachers </h3>
      <p>Also this portal lets teachers create courses and offer their deep knowledge through course contents with online quiz support to ensure progress of student and evaluate them on regular basis.</p>
      <nav>
        <ul><li><button type="submit" class="button_1"><a href="/registerTeacher">Register as Faculty</a></button></li>
      <li><button type="submit" class="button_1"><a href="/loginTeacher">Log In As Faculty</a></button></li></ul></nav>
      
    </section>
    
  </div>

  <footer id="main-footer">
    <p>Copyright &copy; 2019 IIIT-Allahabad Campus Course Portal</p>
  </footer>
</body>
</html>